body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}

.add-button {
  background-color: transparent;
}

/* TODO: 一覧されるタイトルを青＋下線にする */
/* TODO: 一覧されるタイトルをホバーすると水色になる */
/* TODO: EditMemoコンポーネントを左に寄せる */
/* TODO:  */
